<div class="cal-day">
    <div *ngFor="let interval of intervals"
         class="interval"
         [ngClass]="{'raise-block': isOnShift(interval.hour)}">
        <span class="inner-interval"
              [ngClass]="{'onshift-interval': isOnShift(interval.hour),
                          'shift-start-interval': interval.hour === this.startShift,
                          'shift-end-interval': interval.hour === this.endShift
                          }">{{interval.hour}}</span>
        <div *ngFor="let section of interval.appointmentSections"
              class="appointment-section"
              [ngClass]="{'appointment-section-start': section.start, 'appointment-section-end': section.end}"
              [ngStyle]="{'top': getConfiguredOffset() * getOffset(section.id) + 'px'}">
            {{section.id}}
        </div>
    </div>
</div>
