<div class="cal-day">
    <div *ngFor="let interval of intervals"
         class="interval">
        <span class="inner-interval">{{interval.hour}}</span>
        <div *ngFor="let section of interval.appointmentSections"
              class="appointment-section"
              [ngClass]="{'appointment-section-start': section.start, 'appointment-section-end': section.end}"
              [ngStyle]="{'top': 20 * (section.offset + 1) + 'px'}">
            {{section.id}}
        </div>
    </div>
    <div>
        <div *ngFor="let appointment of appointments"
              class="appointment">
        </div>
    </div>
</div>
